.user {
  display: grid;
  grid-template: min-content min-content / max-content 1fr;
  grid-template-areas: 
  'banner banner'
  'avatar description';
  gap: 20px;
  margin-bottom: 50px;
}

.user__banner {
  grid-area: banner;
  height: 150px;
  width: 100%;
}

.user__avatar {
  grid-area: avatar;
  height: 100px;
  width: 100px;
  border-radius: 7px;
}
